<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ejsでonclickの値に変数を渡したい</title>
</head>
<body>
  <%- include('./_button.ejs',{
    click: "alert(\'受け渡し成功\')"
  }) %>
</body>
</html>
